{% extends 'core/base.html'%}

{%block contenido%}
{%load static %}


<div  class="mt-5 pt-5 px-5 col-12 bg-dark text-dark row flex  d-block d-flex  " >
    {%for p in proveedores%}
    <div class="col">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4"> 
            <div class="card h-100" style="width: 18rem;">
                {%if p.logo%}
                <img src="{{p.logo.url}}" class="card-img-top " alt="..." width="300px" height="300px">
                {%endif%}
                <div class="card-body">
                  <h5 class="card-title fw-bold">Proveedor :{{p.nombre | capfirst}}</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p class="fw-bold">Telefono</p>{{p.telefono}}</li>
                    <li class="list-group-item"><p class="fw-bold">Direccion</p>{{p.direccion}}</li>
                    <li class="list-group-item"><p class="fw-bold">Correo</p>{{p.email}}</li>
                    <li class="list-group-item"><p class="fw-bold">Pais</p>{{p.pais}}</li>
                    <li class="list-group-item"><p class="fw-bold">Moneda</p>{{p.moneda}}</li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
{%endfor%}
</div>
{% endblock %}